@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* RESET */
*, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
img {
      display: block;
      max-width: 100%;
}
/* CSS VARIABLES */
:root {
      /* FONTS */
      --FF: "Nunito", sans-serif;
      --FF-HEADINGS: "Bad Signal", cursive;
      --FS: clamp(1.5rem, 2.5vh, 2rem);
      /* COLORS */
      --BGCOLOR: rgb(212, 29, 60);
      --COLOR: black;
      --BORDER-COLOR: hsla(325, 67%, 57%, 0.5);
      --NAV-BGCOLOR: rgb(212, 29, 60);
      --LINK-ACTIVE: hsla(341, 75%, 54%, 0.7);
      --LINK-HOVER: hsla(325, 100%, 55%, 0.6);
      /* BORDERS */
      --BORDERS: 1px solid var(--BORDER-COLOR);
      --BORDER-RADIUS: 15px;
      /* PADDING */
      --PADDING-TB: 0.4em;
      --PADDING-SIDE: 3%;
      /* MARGIN */
      --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

}
/* UTILITY CLASSES */
.nowrap {
      white-space: nowrap;
}
.center {
      text-align: center;
      margin-bottom: 4rem;
      padding: 4rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
}

/* GENERAL STYLES */
html{
      scroll-behavior: smooth;
      font-size: var(--FS);
      font-family: var(--FF);
      width: 100%;
      min-height: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
}
body {
      background-color: var(--BGCOLOR);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      font-size: var(--FS);
      overflow-x: hidden;
      width: 100%;
}
h1, h2 {
      font-family: var(--FF-HEADINGS);
      letter-spacing: 0.1em;
      margin-bottom: 1em;
      color: var(--COLOR);
}
h1 {
      font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
}
h2 {
      font-size: var(--FS);
}
p {
      line-height: 1.5;
      color: var(--COLOR);
}
a:any-link {
      color: var(--NAV-BGCOLOR);
      text-decoration: none;
}
a:hover, a:focus-visible {
      color: var(--LINK-HOVER);
}
a:active {
      color: var(--LINK-ACTIVE);
}
.center a {
      color: var(--COLOR);
      margin-top: 5rem;
}
.address a {
      color: var(--COLOR);
}
.address a:hover, .address a:focus-visible {
      color: var(--LINK-HOVER);
}

/* HEADER */
.header, .footer {
      width: 100%;
      margin: 0;
}
.header {
      position: sticky;
      top: 0;
      z-index: 1;
      width: 100%;
      overflow: hidden;
}
.header__nav {
      background-color: var(--COLOR);
      border-bottom: var(--BORDERS);
      position: relative;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
}
.header__nav img {
      margin: 0.25em;
      margin-left: 0.5rem;
      padding: 0.1em;
}
.navbar-links .header__ul {
      padding: 0 var(--PADDING-SIDE);
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      gap: 1rem;
}
.toggle-button {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
}
.toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: var(--NAV-BGCOLOR);
      border-radius: 10px;
}
/* HERO */
.hero figure {
      width: 100%;
      height: auto;
}
.hero h1 {
      text-align: center;
      margin-top: 1.4rem;
      padding: 2rem;
}
/* MAIN */
.main {
      padding: var(--PADDING-TB) var(--PADDING-SIDE);
      flex-grow: 1;
}
.main section {
      scroll-margin-top: 6.5rem;
      margin: var(--MARGIN);
}
.main__article {
      scroll-margin-top: 6.5rem;
      margin: var(--MARGIN);
}
.main__article:first-child {
      margin-top: 1em;
}
.main__article:last-child {
      min-height: calc(100vh - 20rem);
}
/* FOOTER */
.footer {
      position: sticky;
      bottom: 0;
      background-color: var(--COLOR);
      padding: 0 var(--PADDING-SIDE);
      text-align: center;
      overflow-x: hidden;
      width: 100vw;
      
}
.footer p {
      color: var(--NAV-BGCOLOR);
      text-align: center;
      white-space: wrap;
      bottom: 0;
}
/* HOME */
.hero__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.hero__article section {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 0;
      padding: 0;
}
.hero__article p {
      padding: 1.5rem;
}
.icon {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      padding: auto;
      bottom: 0;
}
.apps {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      list-style-type: none;
}
.apps a {
      text-align: center;
      text-decoration: none;
      color: var(--LINK-HOVER);
}
.pickup-text {
      text-align: center;
      padding-left: 0.5rem;
      padding-bottom: 3rem;
      text-wrap: wrap;
}
.home-figure {
      background-image: url(/pics/preparare2.jpg);
      background-size: cover;
      background-position: center;
      transform: scale(1.1);
}
.logo-text {
      font-family: var(--FF-HEADINGS);
      text-decoration: line-through;
      font-size: var(--FS);
      letter-spacing: 0.1rem;
}
/* ABOUT */
.main__article-about {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      gap: 1rem;
}
.main__article-about p {
      margin-bottom: 5rem;
      font-family: var(--FF);
}
/* MENU */
.menu h2 {
      margin-left: 2.5rem;
      padding: 1.5rem;
}
.menu article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
}
.menu-article section {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 1rem;
}
.menu-section img {
      border: var(--BORDERS);
      border-radius: var(--BORDER-RADIUS);
      width: 100%;
}
:is(.menu-section:hover, .menu-section:focus-within) p {
      display: block;
}
.menu-section figcaption, .text-special {
      font-size: var(--FS);
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
}
.menu-section p {
      display: flex;
      flex-flow: column nowrap;
      font-size: 1rem;
      gap: 1rem;
}
.menu-section p {
      display: none;
      transform-origin: center;
      animation: showtext 0.5s ease-in-out forwards;
}
@keyframes showtext {
      0% {
            transform: translateY(-20px);
            transform: scaleY(0);
      }
      80% {
            transform: scaleY(1.2);
      }
      100% {
            transform: scaleY(1);
      }
}
:is(.menu-section:hover, .menu-section:focus-within) img {
      display: none;
}
@media (max-width: 400px) {
      .hero img {
            max-width: 100%;
            height: auto;
      }
      .main {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            left: 2.2rem;
            overflow-x: hidden;
      }
      .toggle-button {
            display: flex;
      }
      .navbar-links {
            width: 100%;
            display: none;
      }
      .header__nav {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
      }
      .navbar-links .header__ul {
            width: 100%;
            flex-direction: column;
      }
      .navbar-links li {
            text-align: center;
      }
      .navbar-links li a {
            padding: 0.5rem 1rem;
      }
      .navbar-links.active {
            display: flex;
      }
      .main-article {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 1.5rem 2rem;
            justify-content: flex-start;
      }
      .hero__article section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            font-size: 1rem;
      }
      .menu-section figcaption, .pickup-text {
            white-space: nowrap;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
      }
      .hero h1 {
            top: 1.5rem;
            font-size: clamp(1.8rem, 2vh, 2.2rem);
      }
      body {
            overflow-x: hidden;
      }
      .logo-text {
            font-size: 1rem;
            white-space: nowrap;
      }
      .about p {
            text-align: start;
            font-size: 0.7rem;
      }
      .program {
            margin-left: 0;
            padding-left: 0;
      }
      .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: center;
            flex-grow: 2;
      }
      .menu-article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            text-align: center;
            align-items: center;
            padding-left: 1rem;
            justify-content: center;
      }
      .menu-section {
            width: 100%;
            grid-column: 1 / 2;
            text-align: center;
            align-items: baseline;
            justify-content: center;
      }
      .menu-section img {
            max-width: 100%;
            height: auto;
            bottom: 1rem;
      }
      .menu-section figcaption {
            text-align: center;
            top: 1rem;
            padding: 1rem;
            font-size: 1rem;
      }
      .text-special {
            padding-top: 1.5rem;
            top: 1rem;
      }
      .menu-section span {
            white-space: nowrap;
            padding-top: 0.2rem;
      }
      .apps {
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
      }
      .footer {
            flex-flow: row wrap;
            padding: 0.2rem;
            align-items: center;
            justify-content: flex-start;
            font-size: clamp(0.5rem, 0.2vh, 1rem);
            min-height: 1.3rem;
            width: 100%;
      }
}

/* @media (max-height: 920px) {
      .hero img {
            max-width: 100%;
            height: auto;
      }
      .main {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            left: 2.2rem;
            overflow-x: hidden;
      }
      .toggle-button {
            display: flex;
      }
      .navbar-links {
            width: 100%;
            display: none;
      }
      .header__nav {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
      }
      .navbar-links .header__ul {
            width: 100%;
            flex-direction: column;
      }
      .navbar-links li {
            text-align: center;
      }
      .navbar-links li a {
            padding: 0.5rem 1rem;
      }
      .navbar-links.active {
            display: flex;
      }
      .main-article {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 1.5rem 2rem;
            justify-content: flex-start;
      }
      .hero__article section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            font-size: 1rem;
      }
      .menu-section figcaption, .pickup-text {
            white-space: nowrap;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
      }
      .hero h1 {
            top: 1.5rem;
            font-size: 2.2rem;
      }
      body {
            overflow-x: hidden;
      }
      .logo-text {
            font-size: 1rem;
            white-space: nowrap;
      }
      .about p {
            text-align: start;
            font-size: 0.7rem;
      }
      .program {
            margin-left: 0;
            padding-left: 0;
      }
      .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: center;
            flex-grow: 2;
      }
      .menu-article {
            display: grid;
            text-align: center;
            align-items: center;
            padding-left: 2.5rem;
            justify-content: center;
      }
      .menu-section {
            width: 100%;
            grid-column: 1 / 2;
            margin-left: 2rem;
            text-align: center;
            align-items: baseline;
            justify-content: center;
      }
      .menu-section img {
            width: 100%;
            height: auto;
            transform: scale(1.2);
            bottom: 1rem;
      }
      .menu-section figcaption {
            text-align: center;
            top: 1rem;
            padding: 1rem;
            font-size: 1rem;
      }
      .text-special {
            padding-top: 1.5rem;
            top: 1rem;
      }
      .menu-section span {
            white-space: nowrap;
            padding-top: 0.2rem;
      }
      .footer {
            flex-flow: row nowrap;
            padding: 0.2rem;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.7rem;
            height: 1.5rem;
            width: 100%;
      }
} */
/* @media (max-width: 320px) and (max-height: 713px) {
      body {
            overflow-x: hidden;
      }
      .header, .footer, .hero {
            width: 100%;
            margin: 0;
            padding: 0;
      }  
      .hero h1 {
        font-size: 1.5rem; 
      }
      .hero figure {
            width: 100%;
      }
      .hero img {
            max-width: 100%;
            height: auto;
      }
      .main {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            overflow-x: hidden;
      }
      .toggle-button {
            display: flex;
      }
      .navbar-links {
            width: 100%;
            display: none;
      }
      .header__nav {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
      }
      .navbar-links .header__ul {
            width: 100%;
            flex-direction: column;
      }
      .navbar-links li {
            text-align: center;
      }
      .navbar-links li a {
            padding: 0.5rem 1rem;
      }
      .navbar-links.active {
            display: flex;
      }
      .main-article {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 1.5rem 2rem;
            justify-content: flex-start;
      }
      .hero__article section {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            font-size: 1rem;
      }
      .menu-section figcaption, .pickup-text {
            white-space: nowrap;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
      }
      .hero h1 {
            top: 1.5rem;
            font-size: 2.2rem;
      }
      body {
            overflow-x: hidden;
      }
      .logo-text {
            font-size: 1rem;
            white-space: nowrap;
      }
      .about p {
            text-align: start;
            font-size: 0.7rem;
      }
      .program {
            margin-left: 0;
            padding-left: 0;
      }
      .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: center;
            flex-grow: 2;
      }
      .menu-article {
            display: grid;
            text-align: center;
            align-items: center;
            padding-left: 2.5rem;
            justify-content: center;
      }
      .menu-section {
            width: 100%;
            grid-column: 1 / 2;
            margin-left: 2rem;
            text-align: center;
            align-items: baseline;
            justify-content: center;
      }
      .menu-section img {
            width: 100%;
            height: auto;
            transform: scale(1.2);
            bottom: 1rem;
      }
      .menu-section figcaption {
            text-align: center;
            top: 1rem;
            padding: 1rem;
            font-size: 1rem;
      }
      .text-special {
            padding-top: 1.5rem;
            top: 1rem;
      }
      .menu-section span {
            white-space: nowrap;
            padding-top: 0.2rem;
      }
      .footer {
            flex-flow: row nowrap;
            padding: 0.2rem;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.7rem;
            height: 1.5rem;
            width: 100%;
      }
    }  */